In [1]:
# lOAD DATA
# Este conjunto de datos pertenece a todos los tipos de permisos estructurales desde el 1 de enero de 2013 
#hasta el 25 de febrero de 2018. Los datos incluyen detalles sobre números de solicitud/permiso, direcciones de trabajo, 
#distritos de supervisión y el estado actual de las solicitudes.

# import numpy and pandas

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# read in the San Francisco building permits data
sfPermits = pd.read_csv("C:\CODE\Python\Py_Mineria\Datasets\PokemonStats.csv", sep = ",")

# set seed for reproducibility
np.random.seed(0)

In [2]:
sfPermits.head()

,ID,Name,Total,HP,Attack,Defense,SpAtk,SpDef,Speed,Type1,Type2,Height,Weight
0,1,Bulbasaur,318,45,49,49,65,65,45,Grass,Poison,0.7,6.9
1,2,Ivysaur,405,60,62,63,80,80,60,Grass,Poison,1.0,13.0
2,3,Venusaur,525,80,82,83,100,100,80,Grass,Poison,2.0,100.0
3,3,Venusaur Mega Venusaur,625,80,100,123,122,120,80,Grass,Poison,2.4,155.5
4,4,Charmander,309,39,52,43,60,50,65,Fire,NaN,0.6,8.5

In [3]:
# Shape of data
sfPermits.shape

(1194, 13)

In [4]:
# Calculate total number of cells in dataframe
totalCells = np.product(sfPermits.shape)
totalCells

15522

In [5]:
# Count number of missing values per column
missingCount = sfPermits.isnull().sum()
missingCount

ID           0
Name         0
Total        0
HP           0
Attack       0
Defense      0
SpAtk        0
SpDef        0
Speed        0
Type1        0
Type2      542
Height       0
Weight       1
dtype: int64

In [6]:
# Calculate total number of missing values
totalMissing = missingCount.sum()
totalMissing

543

In [7]:
# Calculate percentage of missing values
print("The SF Permits dataset contains", round(((totalMissing/totalCells) * 100), 2), "%", "missing values.")

The SF Permits dataset contains 3.5 % missing values.

In [9]:
# Street Number Suffix and Zipcode from the sf_permits datasets. Both of these contain missing values

missingCount[['Type2',]]

Type2    542
dtype: int64

In [10]:
# Percent missing data in:

print("Percent missing data in Type2 column =", (round(((missingCount['Type2'] / sfPermits.shape[0]) * 100), 2)))

Percent missing data in Type2 column = 45.39

In [11]:
# removing all the rows from the sf_permits dataset that contain missing values

sfPermits.dropna()

,ID,Name,Total,HP,Attack,Defense,SpAtk,SpDef,Speed,Type1,Type2,Height,Weight
0,1,Bulbasaur,318,45,49,49,65,65,45,Grass,Poison,0.7,6.9
1,2,Ivysaur,405,60,62,63,80,80,60,Grass,Poison,1.0,13.0
2,3,Venusaur,525,80,82,83,100,100,80,Grass,Poison,2.0,100.0
3,3,Venusaur Mega Venusaur,625,80,100,123,122,120,80,Grass,Poison,2.4,155.5
6,6,Charizard,534,78,84,78,109,85,100,Fire,Flying,1.7,90.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,1006,Iron Valiant,590,74,130,90,120,60,116,Fairy,Fighting,1.4,35.0
1190,1007,Koraidon,670,100,135,115,85,100,135,Fighting,Dragon,2.5,303.0
1191,1008,Miraidon,670,100,85,100,135,115,135,Electric,Dragon,3.5,240.0
1192,1009,Walking Wake,590,99,83,91,125,83,109,Water,Dragon,3.5,280.0
1193,1010,Iron Leaves,590,90,130,88,70,108,104,Grass,Psychic,1.5,125.0

In [12]:
# removing all the columns with empty values.

sfPermitsCleanCols = sfPermits.dropna(axis=1)
sfPermitsCleanCols.head()

,ID,Name,Total,HP,Attack,Defense,SpAtk,SpDef,Speed,Type1,Height
0,1,Bulbasaur,318,45,49,49,65,65,45,Grass,0.7
1,2,Ivysaur,405,60,62,63,80,80,60,Grass,1.0
2,3,Venusaur,525,80,82,83,100,100,80,Grass,2.0
3,3,Venusaur Mega Venusaur,625,80,100,123,122,120,80,Grass,2.4
4,4,Charmander,309,39,52,43,60,50,65,Fire,0.6

In [13]:
print("Columns in original dataset: %d \n" % sfPermits.shape[1])
print("Columns with na's dropped: %d" % sfPermitsCleanCols.shape[1])

Columns in original dataset: 13

Columns with na's dropped: 11

In [14]:
# replacing all the NaN's in the sf_permit data with the one that comes directly after it and 
#then [replace all the reamining na's with 0]

imputeSfPermits = sfPermits.fillna(method='ffill', axis=0).fillna("None")

imputeSfPermits.head()

,ID,Name,Total,HP,Attack,Defense,SpAtk,SpDef,Speed,Type1,Type2,Height,Weight
0,1,Bulbasaur,318,45,49,49,65,65,45,Grass,Poison,0.7,6.9
1,2,Ivysaur,405,60,62,63,80,80,60,Grass,Poison,1.0,13.0
2,3,Venusaur,525,80,82,83,100,100,80,Grass,Poison,2.0,100.0
3,3,Venusaur Mega Venusaur,625,80,100,123,122,120,80,Grass,Poison,2.4,155.5
4,4,Charmander,309,39,52,43,60,50,65,Fire,Poison,0.6,8.5

In [15]:
# Calculate total number of missing values in sfPermitsCleanCols

missingCount = sfPermitsCleanCols.isnull().sum()
totalMissing = missingCount.sum()
totalMissing

0

In [16]:
missingCount.to_csv('Pokemon.csv')